
{% extends 'gepyxis/layouts/layout.html.twig' %}

{% block content %}
    
    <main id="main">
      <!-- ======= Our Projects Section ======= -->
      {% include "gepyxis/includes/breadcrumbs.html.twig" %}
      <!-- End Our Projects Section -->
      
      {{ block('content') }}

    </main>
    <!-- End Our Projects Section -->
    
    <!-- ======= Search Bar Section ======= -->
    {# {{ pimcore_inc(document.getProperty('swiper')) }}
    {{include('snippets/search-bar.html.twig') }} #}

    <!-- ======= Swiper Section ======= -->
    {# <section class="services" data-aos="fade-up">
      <div class="container">
        <div class="row">
          include a document-snippet - in this case the swiper document
          {{ pimcore_inc(document.getProperty('swiper')) }}
          {{include('includes/swiper.html.twig') }}
        </div>
      </div>
    </section><!-- End Swiper Section --> #}
    
    <!-- ======= Projects Section ======= -->
    {# {{include('snippets/services-project.html.twig') }} #}

    {{ block('content') }}
    </div>
{% endblock %}