{% extends 'gepyxis/layouts/ge_pyxis_services.html.twig' %}

{% block content %}
    {{include('gepyxis/snippets/includes/search-service.html.twig') }}

    <!-- ======= Service Details Section ======= -->
    <section class="services">
            <div class="container">
                    <div class="row">
                    {% if results|length %}
                            {# <p>Para debbugear: {{ term }}</p> #}
                            {# <p>Para debuggear: {{ debug }}</p> #}
                            {# {{ debug|join(', ')}} #}
                            {%  for item in results %}
                                    {% include 'gepyxis/product/service_teaser.html.twig' with {'project': item} %}
                            {% endfor %}
                    {% else %}
                            <h3 class="text-center" data-aos="fade-up">Lo sentimos, no hemos encontrado servicios para tu término de búsqueda.</h3>
                            <h2 class="text-center" data-aos="fade-up">{{ term | upper }}</h2>
                            {% if categoriaid is defined %}
                                <p>Para debuggear: {{ categoriaid }}</p>
                            {% endif %}
                    {% endif %}
                        {# {% include 'project/project_teaser.html.twig' %} #}
                    </div>
            </div>
    </section><!-- End Service Details Section -->
    {{ pimcore_areablock('content', {
            'allowed': ['service-teaser']
        })
    }}
{% endblock %}

{# {% if app.request.get("categoryselect") is empty %}
    <option value="" selected disabled>Categorías</option>
{% else %}
    <option value="" disabled>Categorías</option>
{% endif %}
{% for category in serviceCategories %}
    {% if app.request.get("categoryselect") == category.id %}
    <option value="{{ category.id }}" selected disabled>{{ category.getTitulo() }}</option>
    {% else %}
    <option value="{{ category.id }}">{{ category.getTitulo() }}</option>
    {% endif %}
{% endfor %} #}